#about-me {
  .modal-header {
    position: relative;
    width: 100%;
    border: 0;
  }
  .card {
    max-width: 750px;
    border: 0;
    border-radius: 0;
    opacity: 0;
    animation: fade-in 600ms forwards ease;
  }
  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
  h1, h2, h3 {
    text-align: center;
  }
  h3 {
    font-family: "Rubik", sans-serif;
    color: $thirdColor;
    font: 300;
  }
  .modal-content {
    background-color: transparent !important;
  }
  .modal-background {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
  }
  .backgrounds {
    height: 100%;
    width: 100%;
    animation: slide-down 500ms forwards ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(16px);
  }
  @keyframes slide-down {
    to {
      // transform: translateY(0);
      filter: blur(0px);
    }
  }
  .backgrounds:nth-of-type(1) {
    background-image: url(../images/col3b.jpg);
    display: none;
  }
  .backgrounds:nth-of-type(2) {
    background-image: url(../images/col1b.jpg);
    animation-delay: 100ms;
    display: none;
  }
  .backgrounds:nth-of-type(3) {
    background-image: url(../images/col2b.jpg);
    animation-delay: 200ms;
  }
  @include media-breakpoint-up(lg) {
    .backgrounds:nth-of-type(1),
    .backgrounds:nth-of-type(2) {
      display: block;
    }
    .backgrounds {
      transform: translateY(-10%);
    }
    @keyframes slide-down {
      to {
        transform: translateY(0);
        filter: blur(0px);
      }
    }
    .card {
      padding: $spacer * 2;
    }
  }
}
