#about-me {
    position: relative;
    .modal-content {
        background-color: transparent !important;
    }
    .modal-background {
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0;
    }
    .backgrounds {
        height: 100%;
        width: 100%;
        animation: slide-down 600ms forwards ease-out;
        object-fit: cover;
        transform: translateY(-10%);
        filter: blur(5px);
    }
    @keyframes slide-down {
        to {
            transform: translateY(0);
            filter: blur(0px);
        }
    }
    .backgrounds:nth-of-type(1) {
        background-image: url(../images/col1.jpg);
    }
    .backgrounds:nth-of-type(2) {
        background-image: url(../images/col2.jpg);
        animation-delay: 150ms;
    }
    .backgrounds:nth-of-type(3) {
        background-image: url(../images/col3.jpg);
        animation-delay: 300ms;
    }
    .card {
        max-width: 700px;
    }
}