footer {
    ul {
        padding: 0;
        margin: 0;
    }
    ul li {
        list-style: none;
        font-weight: 100;
    }
    i {
        color: $darkColor;
        font-size: 3rem;
    }
    .footer-bottom {
        width: 100%;
        color: $lightColor;
        background-color: $darkColor;
    }
    ul:nth-of-type(2) {
        color: #666;
    }
    .favicon {
        border: 1px solid $lightColor;
        border-radius: 50%;
    }
}