footer {

    p {
        margin: 0;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    ul li {
        list-style: none;
    }
    i {
        color: $darkColor;
        font-size: 1.5rem;
    }
}