#hero {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  color: $lightColor;



  img {
    width: 100%;
  }
  .position-absolute {
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(34, 34, 34, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );

  }
  .hero__text {
    bottom: 0;
    width: 100%;
    color: $lightColor;
  }
  .hero__column {
    height: 100%;
  }
  .hero__column-center {
    font-size: 2rem;
  }
  i {
    color: $lightColor;
    animation: upDown infinite 1s ease;
  }
  .scroll {
    transform: translateY(60px)
  }
  @keyframes upDown {
    to {
      transform: translateY(0);
    }
    from {
      transform: translateY(5px);
    }
  }
  @media screen and (min-width: 540px) {
    .hero__column-start {
      text-align: left;
    }
    .hero__column-center {
      text-align: center;
      justify-content: center;
    }
    .hero__column-end {
      text-align: right;
    }
  }
}
