@import "../../node_modules/bootstrap/scss/bootstrap.scss";

#introduction {
  background-color: #eee;
  p {
    max-width: 450px;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    font-weight: 100;
    border-left: 2px solid $thirdColor;
  }
  a {
    color: $thirdColor;
  }
  img {
    height: 320px;
    z-index: 2;
  }
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    img {
      height: 380px;
    }
    .column:nth-of-type(1) {
      justify-content: flex-end;
    }
    .column:nth-of-type(2) {
      justify-content: flex-start;
    }
  }
}
