@import "../../node_modules/bootstrap/scss/bootstrap.scss";

#introduction {
  .paragraph {
    border-left: 2px solid $primaryColor;
  }
  h1 {
    font-family: "Playfair Display", serif;
    font-size: 2.5em;
    margin: 0;
    span {
      font-size: 2em;
      color: $secondaryColor;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p {
    max-width: 450px;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    font-weight: 100;
  }
  h5 {
    color: $primaryColor;
    font-size: 1em;
    text-transform: capitalize;
  }
  @include media-breakpoint-up(md) {
    height: 100vh;
    h1 {
      font-size: 4em;
    }
  }
}
