#treatments {
  .card-header {
    background-color: transparent;
    font-size: 1.5em;
    font-weight: 400;
  }
  .btn-toggle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  button {
    width: 200px;
  }
  ul {
    border-left: 2px solid $thirdColor;
  }
  .accordion-header {
    font-size: 1rem;
  }
  @include media-breakpoint-up(lg) {
    .accordion-header {
      font-size: 1.2rem;
    }
  }
}
