#products {
  .card-header {
    background-color: transparent;
    font-size: 1.5em;
    font-weight: 400;
  }
  button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  ul {
    list-style: none;
    border-left: 2px solid $thirdColor;
  }
}
