.range {
    margin: $globalMargin;
    font-family: 'Cutive Mono', monospace;

    .range__container {
        min-height: 400px;
    }
    .range__text {
        max-width: 600px;
    }
    @media screen and (min-width: 992px) {
        .top-buffer {
            margin-top: 56px;
        }
    }
}