#read-more {
    .modal-header {
        box-sizing: content-box;
        background-color: #fff;
        color: $darkColor;
        width: 100%;
        padding: 0;
        flex-direction: column;
        align-items: center;
        border: 0;
    }
    .modal-content .close {
        outline: none;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
    }
    .modal-content ul {
        list-style: none;
        border-left: 2px solid $thirdColor;
        margin: 0;
    }
    .modal-body {
        background-color: #eee;
    }
    .modal-img {
        background-color: #ddd;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
        object-fit: cover;
    }
    @include media-breakpoint-up(lg) {
        .modal-header {
            flex-direction: row-reverse;
            align-items: center;
            height: 40rem;
        }
        .container-fluid {
            width: 37.5%;
        }
        .modal-img {
            width: 62.5%;
            clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
}