#showcase {
  position: relative;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    width: 100%;
  }
  .position-relative {
    width: 100%;
  }
  .showcase__text {
    background-color: #eee;
    padding-bottom: 25%;
    margin-bottom: -25%;
    p {
      max-width: 300px;
    }
  }

}
