#testimonials {
  .carousel-item {
    height: 100vmin;
  }
  .slide {
    height: 400px;
  }
  i,
  .name {
    color: $secondaryColor;
  }
  @include media-breakpoint-up(lg) {
    .carousel-item {
      height: 350px;
    }
  }
}

