@import "../../node_modules/bootstrap/scss/bootstrap.scss";

#about-me {
    .background-image {
        position: fixed;
        background-color: red;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 9;
        transform: translateY(-100%);
    }
    .background-image:nth-of-type(1), .background-image:nth-of-type(2) {
        display: none;
    }
    @include media-breakpoint-up(lg) {
        .background-image {
            width: 33.33%;
            width: calc(100vw / 3);
        };
        .background-image:nth-of-type(1), .background-image:nth-of-type(2) {
            display: block;
        }
    }
}