@import url("https://fonts.googleapis.com/css2?family=Over+the+Rainbow&family=Playfair+Display:wght@400;700&family=Rubik:wght@100;200;300;400&display=swap");
@import "./variables";
@import "./Filter";
@import "./Navigation";
@import "./Hero";
@import "./ShapeFill";
@import "./Introduction";
// @import "./AboutMe";
@import "./Services";
@import "./Showcase";
@import "./Products";
@import "./Testimonials";
@import "./ContactForm";
@import "./Footer";

$theme-colors: (
  "primary": $primaryColor,
  "secondary": $secondaryColor,
  "link": $thirdColor,
  "light": $lightColor,
  "dark": $darkColor,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.modal-title {
  font-family: "Playfair Display", serif;
}
h1,
h2,
.modal-title {
  line-height: 1em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0;
}
.title {
  display: flex;
  justify-content: center;
}
.title::after, .title::before {
  content: "";
  display: inline-block;
  position: relative;
  text-align: center;
  border-top: 1px solid;
  border-color: inherit;
  width: 1.2em;
  top: 0.5em;
  margin: 0 1rem;
}

.btn {
  border-radius: 0px;
  overflow: hidden;
}
hr {
  border-top: 1px solid inherit;
  width: 32px;
  margin: 0;
}
.hollow {
  background-color: transparent;
  border-radius: 2rem;
  letter-spacing: 2px;
}
.mask {
  overflow: hidden;
}
.show {
  display: block;
}
a:link,a:visited,a:hover,a:active {
  color: $secondaryColor;
  text-decoration: none;
}
.modal-open {
  padding-right: 0 !important;
  overflow: hidden;
}
.modal-header {
  width: 100%;
  padding: 0;
  flex-direction: column;
  align-items: center;
  border: 0;
}
.modal-content .close {
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
.modal-dialog {
   margin: 0;
   padding: 0;
   height: 100%;
}
.modal-content {
    height: auto;
    position: relative;
    min-height: 100%;
    border-radius: 0;
    padding: 0;
    color: $darkColor;
    // background-color: $lightColor;
}
.modal-body {
  background-color: #eee;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100%;
  }
}
.modal-header h1 {
  width: 100%;
  text-align: center;
}
.modal-content ul {
  list-style: none;
  border-left: 2px solid rgba(255,255,255,0.5);
}
.modal-img {
  background-color: #eee;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  object-fit: cover;
}
//intersection observer classes
.fade-in {
  opacity: 0;
  transition: opacity 600ms ease;
}
.fade-in.appear {
  opacity: 1;
}
.from-left {
  transform: translateX(-10%);
}
.from-right {
  transform: translateX(10%);
}
.from-below {
  transform: translateY(50%);
}
.from-above {
  transform: translateY(-50%);
}
.from-left,
.from-right,
.from-below,
.from-above {
  transition: all 600ms ease;
}
.from-left.appear,
.from-right.appear,
.from-below.appear,
.from-above.appear {
  transform: translateX(0);
}
@include media-breakpoint-up(md) {
  body {
    font-size: 1rem;
  }
}
@include media-breakpoint-up(lg) {
  h1 {
    font-size: 4em;
  }
  .modal-header {
    padding: 0;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: $spacer;
  }
  .modal-header {
    height: 40rem;
  }
  .modal-header h1 {
    text-align: left;
    width: 37.5%;
  }
  .modal-img {
    width: 62.5%;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  }
}
